###1.Write a code to reverse a string.

In [ ]:
string="Hello World!"
string[::-1]

'!dlroW olleH'

###2.Write a code to count the number of vowels in a string.

In [ ]:
string1="Hello World!"
vowels="aeiouAEIOU"
count=0
for i in string1:
  if i in vowels:
    count+=1
print(count)

3

###3.Write a code to check if a given string is a palindrome or not.

In [ ]:
string2="madam"
if string2==string2[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

###4.Write a code to check if two given strings are anagrams of each other.

In [ ]:
string3="listen"
string4="silent"
if sorted(string3)==sorted(string4):
  print("Anagrams")
else:
  print("Not Anagrams")

Anagrams

###5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
string5="Hello World!"
substring="l"
count=0
for i in string5:
  if i==substring:
    count+=1
print(count)

3

###6.Write a code to perform basic string compression using the counts of repeated characters.

In [17]:
def compress_string(s):
    compressed = ""
    count = 1

    for i in range(len(s) - 1):
        if s[i] == s[i + 1]:
            count += 1
        else:
            compressed += s[i] + str(count)
            count = 1

    compressed += s[-1] + str(count)

    return compressed

string6 = "aabcccccaaa"
compressed_string = compress_string(string6)
print(compressed_string)

a2b1c5a3

###7.Write a code to determine if a string has all unique characters.

In [ ]:
string7="Hello World!"
if len(string7)==len(set(string7)):
  print("Unique")
else:
  print("Not Unique")

Not Unique

###8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string8 = "Hello World!"

uppercase_string = string8.upper()
print(uppercase_string)

lowercase_string = string8.lower()
print(lowercase_string)

HELLO WORLD!
hello world!

###9.Write a code to count the number of words in a string.

In [ ]:
string9 = "Hello World!"

word_count = len(string9.split())
print(word_count)

2

###10.Write a code to concatenate two strings without using the + operator.

In [ ]:
string1 = "Hello"
string2 = "World!"

concatenated_string = "".join([string1, string2])
print(concatenated_string)

concatenated_string = f"{string1}{string2}"
print(concatenated_string)

HelloWorld!
HelloWorld!

###11.Write a code to remove all occurrences of a specific element from a list.

In [ ]:
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
new_list = [x for x in my_list if x != element_to_remove]
print(new_list)

[1, 3, 4, 5]

###12.Implement a code to find the second largest number in a given list of integers.

In [11]:
def find_second_largest(numbers):
  numbers.sort()
  return numbers[-2]

numbers = [1, 5, 3, 5, 7, 2]
second_largest = find_second_largest(numbers)

print(f"The second largest number is: {second_largest}")

The second largest number is: 5

###13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [8]:
def count_occurrences(data):
  occurrences = {}
  for item in data:
    if item in occurrences:
      occurrences[item] += 1
    else:
      occurrences[item] = 1
  return occurrences
my_list = [1, 2, 3, 2, 4, 2, 5, 1, 3]
occurrences = count_occurrences(my_list)
print(occurrences)

{1: 2, 2: 3, 3: 2, 4: 1, 5: 1}

###14.Write a code to reverse a list in-place without using any built-in reverse functions.

In [19]:
def reverse_list_in_place(lst):

  left, right = 0, len(lst) - 1
  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

###15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [20]:
def remove_duplicates_preserve_order(lst):
  seen = set()
  result = []

  for item in lst:
    if item not in seen:
      seen.add(item)
      result.append(item)
  return result

my_list = [1, 2, 3, 2, 4, 1, 5]
unique_list = remove_duplicates_preserve_order(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

###16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [21]:
def is_sorted(lst):
  n = len(lst)
  is_ascending = all(lst[i] <= lst[i + 1] for i in range(n - 1))
  is_descending = all(lst[i] >= lst[i + 1] for i in range(n - 1))

  return is_ascending or is_descending

list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
list3 = [1, 3, 2, 4, 5]

print(is_sorted(list1))
print(is_sorted(list2))
print(is_sorted(list3))

True
True
False

###17.Write a code to merge two sorted lists into a single sorted list.

In [25]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = []

while list1 and list2:
  if list1[0] < list2[0]:
    merged_list.append(list1.pop(0))
  else:
    merged_list.append(list2.pop(0))

merged_list.extend(list1)
merged_list.extend(list2)

print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

###18. Implement a code to find the intersection of two given lists.

In [26]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = []

for item in list1:
  if item in list2:
    intersection.append(item)

print(intersection)

[3, 4, 5]

###19.Create a code to find the union of two lists without duplicates.

In [27]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union = list(set(list1 + list2))

print(union)

[1, 2, 3, 4, 5, 6, 7]

###20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [29]:
import random
list1 = [1, 2, 3, 4, 5]
shuffled_list = []

while list1:
  index = random.randint(0, len(list1) - 1)
  shuffled_list.append(list1.pop(index))

print(shuffled_list)

[4, 2, 1, 5, 3]

###21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [30]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
common_elements = tuple(item for item in tuple1 if item in tuple2)

print(common_elements)

(3, 4, 5)

###22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [32]:
set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
intersection = set1&set2

print("The intersection of the two sets is:", intersection)

Enter the first set of integers separated by commas: 45,50,55,75,80
Enter the second set of integers separated by commas: 95,75,85,45,50
The intersection of the two sets is: {50, 75, 45}

###23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [33]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

###24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [36]:
set1 = set(input("Enter the first set: ").split())
set2 = set(input("Enter the second set: ").split())
difference = set1-set2

print("Elements in the first set but not in the second set:", difference)

Enter the first set: apple banana orange grapes kiwi
Enter the second set: strawberry banana kiwi pineapple coconut
Elements in the first set but not in the second set: {'orange', 'grapes', 'apple'}

###25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [37]:
def get_tuple_slice(original_tuple, start_index, end_index):
  return original_tuple[start_index:end_index]

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
start_index = 2
end_index = 6
sliced_tuple = get_tuple_slice(my_tuple, start_index, end_index)
print(sliced_tuple)

(3, 4, 5, 6)

###26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [38]:
set1 = set(input("Enter the first set of characters: "))
set2 = set(input("Enter the second set of characters: "))
union = set1|set2

print("The union of the two sets is:", union)

Enter the first set of characters: abcde
Enter the second set of characters: cdefg
The union of the two sets is: {'e', 'g', 'b', 'f', 'a', 'd', 'c'}

###27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [39]:
tuple1 = (1, 2, 3, 4, 5)
max_value, min_value = max(tuple1), min(tuple1)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 5
Minimum value: 1

###28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union = set1|set2
intersection = set1&set2
difference = set1-set2

print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

###29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [41]:
def count_occurrences(my_tuple, element):
  count = 0
  for item in my_tuple:
    if item == element:
      count += 1
  return count

my_tuple = (1, 2, 3, 2, 4, 2, 5)
element = 2
occurrences = count_occurrences(my_tuple, element)
print(occurrences)

3

###30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [46]:
  set1 = set(input("Enter the first set of strings: ").split())
  set2 = set(input("Enter the second set of strings: ").split())
  symmetric_difference = set1^set2
  print("Symmetric difference:", symmetric_difference)

Enter the first set of strings: apple banana orange grapes
Enter the second set of strings: banana orange kiwi
Symmetric difference: {'apple', 'kiwi', 'grapes'}

###31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [47]:
def count_word_frequencies(word_list):
  word_frequencies = {}
  for word in word_list:
    if word in word_frequencies:
      word_frequencies[word] += 1
    else:
      word_frequencies[word] = 1
  return word_frequencies

word_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_frequencies = count_word_frequencies(word_list)
print(word_frequencies)

{'apple': 3, 'banana': 2, 'orange': 1}

###32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [60]:
from collections import defaultdict

def merge_dictionaries_add_values(dict1, dict2):
  merged_dict = defaultdict(int)

  for k, v in dict1.items():
      merged_dict[k] += v
  for k, v in dict2.items():
      merged_dict[k] += v

  return dict(merged_dict)

dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 30, 'c': 40, 'd': 50}
merged_dict = merge_dictionaries_add_values(dict1, dict2)
print(merged_dict)

{'a': 10, 'b': 50, 'c': 70, 'd': 50}

###33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [67]:
def get_nested_value(nested_dict, keys):
  for key in keys:
    if key in nested_dict:
      nested_dict = nested_dict[key]
    else:
      return None
  return nested_dict

data = {
    'person': {
        'name': 'Alice',
        'address': {
            'street': '123 Main St',
            'city': 'Anytown'
        }
    }
}

keys = ['person', 'address', 'city']
value = get_nested_value(data, keys)
print(value)

keys = ['person', 'age']
value = get_nested_value(data, keys)
print(value)

Anytown
None

###34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [75]:
def sort_dictionary_by_values(input_dict, ascending=True):

 sorted_items = sorted(input_dict.items(), key=lambda x: x[1], reverse=not ascending)
 return dict(sorted_items)

my_dict = {'apple': 3, 'banana': 2, 'orange': 1}

sorted_dict_asc = sort_dictionary_by_values(my_dict)
print("Sorted in ascending order:", sorted_dict_asc)
sorted_dict_desc = sort_dictionary_by_values(my_dict, ascending=False)
print("Sorted in descending order:", sorted_dict_desc)

Sorted in ascending order: {'orange': 1, 'banana': 2, 'apple': 3}
Sorted in descending order: {'apple': 3, 'banana': 2, 'orange': 1}

###35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [76]:
from collections import defaultdict

def invert_dictionary(input_dict):
    inverted_dict = defaultdict(list)
    for key, value in input_dict.items():
        inverted_dict[value].append(key)
    return dict(inverted_dict)

my_dict = {'apple': 3, 'banana': 2, 'orange': 3}
inverted_dict = invert_dictionary(my_dict)
print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {3: ['apple', 'orange'], 2: ['banana']}